<div>
    <%= image_tag 'top.png' %>
    <div class="bg-customblue text-customred font-bold py-7 px-4 rounded-full w-96 text-center text-4xl absolute top-[65%] left-[5rem] left-2">
        <p>日々の感情や思い出を音楽と一緒に<br>記録しませんか？</p>
    </div>
</div>
