<div class="flex space-x-6">
  <%= link_to "お問い合わせ", contact_path, class: "text-gray-600 font-bold hover:text-gray-900 sm:text-md whitespace-nowrap md:text-lg" %>
  <%= link_to "プライバシーポリシー", privacy_policy_path, class: "text-gray-600 font-bold hover:text-gray-900 sm:text-md whitespace-nowrap md:text-lg" %>
  <%= link_to "利用規約", terms_path, class: "text-gray-600 font-bold hover:text-gray-900 sm:text-md whitespace-nowrap md:text-lg" %>
</div>