<div class="flex space-x-6">
  <%= link_to "お問い合わせ", contact_path, class: "text-gray-600 text-sm font-bold hover:text-gray-900" %>
  <%= link_to "プライバシーポリシー", privacy_policy_path, class: "text-gray-600 text-sm font-bold hover:text-gray-900" %>
  <%= link_to "利用規約", terms_path, class: "text-gray-600 text-sm font-bold hover:text-gray-900" %>
</div>