<div class="mt-4 flex justify-center space-x-6">
  <%= link_to "お問い合わせ", contact_path, class: "text-center text-gray-600 font-bold" %>
  <%= link_to "プライバシーポリシー", privacy_policy_path, class: "text-center text-gray-600 font-bold" %>
  <%= link_to "利用規約", terms_path, class: "text-center text-gray-600 font-bold" %>
</div>