<div class="flex items-center gap-2">
  <%= image_tag 'logo.png', class: 'h-10 w-auto' %> <%# 高さを40pxに制限 %>
  <%= link_to 'MySongJournal', root_path, class: 'ml-3 text-gray-700 text-xl font-bold' %>
</div>