<nav class="flex justify-around items-center space-x-8 text-lg">
  <%= link_to 'みんなの日記を覗きにいく', '#', class: 'text-center text-gray-600 font-bold' %>
  <%= link_to 'ログイン', "#", class: 'text-center text-gray-600 font-bold' %>
  <%= link_to '新規登録', "#", class: 'text-center text-gray-600 font-bold' %>
  <%= link_to 'パスワード再発行', "#", class: 'text-center text-gray-600 font-bold' %>
</nav>
