<dialog id="spotify-modal" class="modal">
  <div class="modal-box relative bg-customblue text-white">
    <form method="dialog">
      <button id="close-search-modal" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 text-white">✕</button>
    </form>
    <div id="spotify-modal-content" class="mt-4 text-white">
      <%= render 'spotify/search' %>
    </div>
  </div>
</dialog>
