<!-- 利用規約ページ -->
<div class="flex flex-col justify-center items-center mt-6 mb-6 mx-72">
  <h1 class="text-3xl font-bold text-accent text-center">利用規約（仮ページ）</h1>
</div>

<div class="container mx-auto pt-3 px-12 py-24">
  <div class="mb-6">
    <p class="text-center text-gray-700">準備中です。</p>
  </div>
</div>

<div class="flex justify-end">
  <p class="text-sm text-gray-700">2025年1月14日 制定</p>
</div>
