<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>新しいお問い合わせ</h1>
    <p>名前: <%= @contact.name %></p>
    <p>メールアドレス: <%= @contact.email %></p>
    <p>メッセージ:</p>
    <p><%= @contact.message %></p>
  </body>
</html>