<div class="flex space-x-4 text-sm text-gray-600 ml-2">
  <div class="flex flex-col items-center">
    <span class="font-bold"><%= user.following.count %></span>
    <span>フォロー</span>
  </div>
  <div class="flex flex-col items-center">
    <span class="font-bold"><%= user.followers.count %></span>
    <span>フォロワー</span>
  </div>
</div> 