@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

/* カスタムダークモードクラス */
@media (prefers-color-scheme: dark) {
  .dark-mode-text {
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  .dark-mode-text {
    color: #000000;
  }
}

.material-symbols-outlined.md-18 { font-size: 18px; }
.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-48 { font-size: 48px; }

@layer components {
  .tab-link {
    @apply border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap border-b-2;
  }

  .tab-link.active {
    @apply border-primary text-primary border-b-2;
  }

  .tab {
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid transparent;
  }

  .tab-active {
    border-bottom: 2px solid blue;
    color: blue;
  }

  /* ページネーションのスタイル */
  .pagination {
    @apply flex justify-center gap-2;
  }

  .pagination span {
    @apply inline-block;
  }

  .pagination .page {
    @apply px-4 py-2 bg-gray-500 text-white font-medium rounded shadow-md hover:bg-gray-600 text-center text-sm;
  }

  .pagination .page.current {
    @apply bg-customred;
  }

  .pagination .prev, .pagination .next {
    @apply px-4 py-2 bg-gray-500 text-white font-medium rounded shadow-md hover:bg-gray-600 text-center text-sm;
  }

  .pagination .gap {
    @apply px-2 text-gray-600;
  }
}