@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined.md-18 { font-size: 18px; }
.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-48 { font-size: 48px; }

@layer components {
  .tab-link {
    @apply border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap border-b-2;
  }

  .tab-link.active {
    @apply border-primary text-primary border-b-2;
  }

  .tab {
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid transparent;
  }

  .tab-active {
    border-bottom: 2px solid blue;
    color: blue;
  }
}